<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="serviceContract" type="MovieCatalogService.IMovieSource, MovieCatalogService" />
  <alias alias="service" type="MovieCatalogService.OmdbSource.OmdbMovieSource, MovieCatalogService" />

  <container>
    <register type="serviceContract" mapTo="service">
      <lifetime type="ContainerControlledLifetimeManager" />
      <constructor>
        <param name="baseUri" value="http://www.omdbapi.com/" />
      </constructor>
    </register>
  </container>
</unity>
