<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--target name="logfile" xsi:type="File" fileName="[FILL ME!].log" layout="${longdate}&#009;${callsite}&#009;${level}&#009;${message}&#009;${exception:format=tostring}" />
    <target name="console" xsi:type="Console" layout="${longdate}&#009;${level}&#009;${message}" /-->
  </targets>
  <rules>
    <!--logger name="*" minlevel="Warn" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" /-->
  </rules>
</nlog>